.Home {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  flex-direction: column;
}
.Home-container {
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
  grid-template-columns: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  animation: starta 0.5s ease-in-out forwards 1;
  transform: scale(0) translateY(500px);
  filter: blur(1.5rem);
}
.Home::-webkit-scrollbar {
  display: none;
}
.logob {
  height: 30rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  animation: startb 0.5s ease-in-out forwards 1;
}
.logom {
  height: 27rem;
  position: absolute;
  left: 1rem;
  opacity: 0;
  animation: startb 0.5s ease-in-out forwards 1;

  top: 1rem;
}

@keyframes starta {
  100% {
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}
@keyframes startb {
  100% {
    opacity: 1;
  }
}
