.Rate {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  animation: starta 0.5s ease-in-out forwards 1;
  transform: scale(0) translateY(500px);
  filter: blur(1.5rem);
}

.Rate-ultra-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.Rate-vcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
}

.Rate-title {
  margin-bottom: -10rem;
  color: white;
  font-size: 8rem;
  margin: 0;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.Rate-title-2 {
  margin-bottom: 0rem;
  font-size: 10rem;
  margin-top: -14rem;
}

.Rate-input {
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  outline: none;
  background-color: white;
  border: none;
  font-size: 16rem;
  text-align: center;
  box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
}

.Rate-input-2 {
  width: 40rem;
  height: 40rem;
  font-size: 18rem;
}

.Rate-team {
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  font-size: 7rem;

  margin-bottom: 2rem;
  margin-top: 9.5rem;
}

.Rate-team-2 {
  font-size: 7rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.Rate-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-right: -5rem;
}

.Rate-input:focus {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
