.Score {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.2rem;
  margin-inline: 1rem;
}

.Score-overlay {
  z-index: 99;
  opacity: 0.75;
  transform: scale(0.65) translate(-6vh, -6vh);
}

.Score-score-turn {
  box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
  outline: solid 30px tomato;
  transition: 0.2s ease;
}

.Score-score {
  width: 18rem;
  height: 18rem;
  margin: 0;
  margin-top: -1rem;
  background-color: white;
  display: flex;

  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  padding: 0.5rem;
  font-weight: bold;
}

.Score-score-score {
  background: rgb(48, 205, 227);
  width: 100%;
  height: 100%;
  font-size: 10rem;
  outline: none;
  border: none;
  text-align: center;
  background: linear-gradient(180deg, rgb(28, 117, 129) 0%, rgb(4, 28, 95) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Score-name {
  font-size: 6rem;
  background-color: transparent;
  font-family: Cairo, monospace;
  outline: none;
  margin-bottom: 2rem;
  text-align: center;
  border: none;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  color: white;
}

.Score-right {
  right: -12rem;
}

.Score-left {
  left: -12rem;
}

.Score-top {
  top: 0rem;
}

.Score-bottom {
  bottom: 10rem;
}
